@import url('https://fonts.googleapis.com/css2?family=Joan&family=Open+Sans:wght@300&family=Raleway:ital,wght@0,200;0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Open+Sans:wght@300&family=Raleway:ital,wght@0,200;0,300;1,300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Joan&family=Open+Sans:wght@300&family=Raleway:ital,wght@0,200;0,300;1,300&family=Roboto:wght@300&display=swap');
/* * , *::after , *::before {
    box-sizing: border-box;
}
body {
    margin:0px;
    padding: 0px;
    font-family: 'Joan';
    background-color: blueviolet;
} */
.nav_bar{
    background-color: rgb(37, 37, 147);
    /* background-color: black; */
    padding:5px;
}
.dates {
    display: flex;
    background-color: white;
    border-radius: 10px;
    height: fit-content;
    padding:0.5rem;
    margin-block: auto;
}
.dates > p {
    margin: 0px;
}
.mh {
    font-size: 2rem;
    border-bottom: 2px solid black;
    width:fit-content;
    padding-bottom: 0px;
    margin-inline: auto;
}
#checkin{
    border-right: 1px solid black;
    padding-right: 5px;
}
#uemail{
    background-color: white;
    padding:0.5rem;
    margin-block:auto;
    border-radius: 10px;
}
.user_space {
    width: fit-content;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    color:rgb(52, 52, 176);
}
.user_space p{
    margin-left: 10px;
}
.hcontainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-inline:auto;
    margin-top: 20px;
    padding: 2rem;
    border-radius: 1em;
    box-shadow: 0 0 10px black;
    background-color: #D1F5FF;
}
.hcard{
    font-family: 'Joan';
    background-color: rgba(205, 223, 236, 0.895);
    margin-block:1rem;
    flex: 1 1 100%;
    border-radius:1em;
    padding:1rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px black;
}
.details {
    flex: 1 1 70%;
    margin-left:2em;
}
#himg {
    flex: 1 1 30%;
    border-radius: 20px;
}
#selectbtn{
    font-family: 'Raleway';
    padding-inline:10px;
    display: block;
}
.mh{
    font-family: 'Cookie';
    font-size: 4rem;
}