<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decide</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Work+Sans:300,600">
    <link rel="stylesheet" href="css/decide.css">
</head>
<body>
    <header>
        <h1 class="logo">Travego</h1>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
            <ul>
                <!-- <li><a href="#">Login</a></li> -->
            </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
        <span></span></label>
    </header>
    
    <div class="content">
        <div class="content-sidebar">
            <div class="cl">
                <div class="head"><p class="headpara">Matching customers <br> with great Hotels</p></div>
                <div class="col"><p class="colhead"><strong>For Managers</strong></p><p>We are market leading hotel reservation website and helps in increasing your customers.</p>
                <center>
                <button class="button1" onclick = "location.href='hregister'"><span>REGISTER</span></button>
                </center>
                </div>
                <div class="col"><p class="colhead"><strong>For Users</strong></p><p>We provide over 2 million affordable and high quality hotels</p>
                <center>
                <button class="button2" onclick = "location.href='user_signup'"><span>SIGN UP</span></button>
                </center>
                </div>
            </div>
            <div id="image">
                <img src="./css/sketchphoto.jpg" />
            </div>
            
        
        </div>
    </div>
    
</body>
</html>